/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  width: 100%;
  max-width: 36em;
  padding: 0 get-size("600");
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &[data-width="wide"] {
    max-width: 56em;
  }
}
