button,
.button {
  cursor: pointer;
  @include apply-utility("weight", "semiBold");
  padding: 0.5em 1em;
  border: 2px solid get-color("primaryButton_border");
  color: get-color("primaryButton_bg");
  background-color: transparent;
  @include apply-utility("font", "sans-serif");
  line-height: 1.3; // must be same as form field
  border-radius: 0.25em; // must be same as form field
  transition: border 0.25s, padding 0.24s, background-color 0.25s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--grape100);
      border-left: 6px solid var(--grape500);
      padding-left: 1em;
      padding-right: calc(1em - 4px);
    }
  }

  &[data-type="primary"] {
    background-color: get-color("primaryButton_bg");
    color: get-color("primaryButton_text");
    border-color: get-color("primaryButton_border");

    &:hover {
      border-color: var(--grape800);
      background: var(--grape600);
      border-left-color: var(--grape800);
    }
  }
}
