form {
  &.form--block {
    background-color: get-color("bgZ1");
    width: 100%;
    padding: get-size("600") get-size("500");
    border-radius: 0.5em;
  }

  [type="date"],
  [type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  textarea {
    width: 100%;
    padding: 0.5em; // top and bottom pad must be same as buttons
    font-size: 1em;
    line-height: 1.3; // must be same as buttons
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25em; // same as buttons
    border: 2px solid get-color("borderPrimary");
    background-color: get-color("input_bg");
  }

  .field {
    max-width: 26em;
    label {
      line-height: 1.3;
      display: block;
      margin-bottom: 0.2em;
      @include apply-utility("weight", "semiBold");
    }
    .field-label {
      display: block;
    }
    .field-hint {
      color: get-color("textSecondary");
      @include apply-utility("weight", "regular");
      display: block;
    }
  }
}
