body {
  line-height: 1.6;
  @include apply-utility("font", "serif");
  @include apply-utility("weight", "regular");
  color: get-color("textPrimary");
  font-size: get-size("500");
}

// Theming applies to the `#page` element, therefore we
// set global colour properties here, rather than on `body`.
// #page,
// button {
//   color: get-color("textPrimary");
// }

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  @include apply-utility("font", "sans-serif");
  @include apply-utility("weight", "bold");
}

h1,
.h1 {
  font-size: get-size("1000");
  @include apply-utility("leading", "flat");
  --flow-space: #{get-size("1000")};
  margin-bottom: get-size("1000");
  & + * {
    --flow-space: #{get-size("600")};
  }
  & + .subtitle {
    margin-top: -2em;
    margin-bottom: get-size("1000");
  }
}

h2,
.h2 {
  font-size: get-size("800");
  @include apply-utility("leading", "flat");
  & + * {
    --flow-space: #{get-size("800")};
  }
  & + .subtitle {
    margin-top: get-size("400");
    margin-bottom: get-size("800");
  }
}

h3,
.h3 {
  font-size: get-size("800");
  line-height: 1.2;
  .eyebrow {
    font-size: 0.5em;
  }
  & + * {
    margin-top: get-size("500");
  }
  & + .subtitle {
    margin-top: 0;
    margin-bottom: get-size("500");
  }
}

h4,
.h4 {
  font-size: get-size("700");
  line-height: 1.2;
  .eyebrow {
    font-size: 0.66em;
  }
}
