body {
  @include apply-utility("leading", "loose");
  @include apply-utility("font", "serif");
  @include apply-utility("weight", "regular");
  color: get-color("textPrimary");
  font-size: get-size("500");
}

// Theming applies to the `#page` element, therefore we
// set global colour properties here, rather than on `body`.
// #page,
// button {
//   color: get-color("textPrimary");
// }

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  @include apply-utility("font", "sans-serif");
  @include apply-utility("weight", "bold");
  @include apply-utility("leading", "flat");
}

h1,
.h1 {
  font-size: get-size("1000");
  --flow-space: #{get-size("1000")};
  margin-bottom: get-size("800");
  &.major {
    font-size: get-size("1000");
  }
  & + * {
    --flow-space: #{get-size("600")};
  }
  & + .subtitle {
    margin-top: calc(-1 * #{get-size("400")});
    margin-bottom: get-size("800");
  }
}

h2,
.h2 {
  font-size: get-size("800");
  --flow-space: #{get-size("900")};
  & + * {
    --flow-space: #{get-size("600")};
  }
  & + .subtitle {
    margin-top: calc(-1 * #{get-size("600")});
    margin-bottom: get-size("600");
  }
}

h3,
.h3 {
  font-size: get-size("700");
  line-height: 1.2;
  --flow-space: #{get-size("800")};
  & + * {
    --flow-space: #{get-size("600")};
  }
}

h4,
.h4 {
  font-size: get-size("600");
  @include apply-utility("leading", "tight");
}

pre code {
  font-size: get-size("400");
  color: var(--salt100);
  background-color: var(--salt1100);
  display: block;
  padding: get-size("400");
  overflow-x: scroll;
}
