@import "reset";
@import "fluid-type-scale";

@import "config";
@import "../../node_modules/gorko/gorko.scss";

// Global styles start
:root {
  --flow-space: #{get-size("600")};
}

body {
  background: get-color("bgZ0");
}

a:link {
  color: get-color("primary");
  text-decoration: underline;
  @include apply-utility("font", "sans-serif");
  cursor: pointer;

  &.muted {
    color: get-color("grey7");
  }
}

a.noUnderline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:visited {
  color: get-color("primaryDarker");
}

a:focus {
  color: var(--primary);
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color: coral;
}

:focus {
  outline: 2px dashed var(--primary);
  outline-offset: 0.1rem;
}

main:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid get-color("dark");
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color("dark");
  border-radius: 0.25rem;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color("light");

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: get-color("dark");
}

@import "colours";
@import "typography";

// Import blocks
@import "blocks/form-elements";
@import "blocks/buttons";
@import "blocks/link-list";

// Import utilities
@import "utilities/flow";
@import "utilities/visually-hidden";
@import "utilities/panel";
@import "utilities/wrapper";
@import "utilities/grid";
